<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338424252410-7jngbq85u0u9t7c03fl1jaujh3g1c2td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338424252410-7jngbq85u0u9t7c03fl1jaujh3g1c2td</string>
	<key>API_KEY</key>
	<string>AIzaSyBTWUni3o5OTXVfE1VbCat8Vd4tKcScf1c</string>
	<key>GCM_SENDER_ID</key>
	<string>338424252410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swift.MyFootbaall</string>
	<key>PROJECT_ID</key>
	<string>fulbo-b3608</string>
	<key>STORAGE_BUCKET</key>
	<string>fulbo-b3608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338424252410:ios:714beadb22a6d5e5af0643</string>
</dict>
</plist>